* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
  padding-bottom: 8px;
  font-family: "Arial Black", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

section {
  padding: 64px 64px;
}
section:nth-child(even) {
  background-color: #4b79bc;
  color: #ffffff;
}

#hero {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/kid2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#hero-content {
  max-width: 1000px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero-content h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Arial Black", sans-serif;
}
#hero-content h3 {
  padding: 24px 0;
  text-align: center;
}
#hero-content button {
  width: 30%;
  padding: 8px 24px;
  border: none;
  border-radius: 10px;
  background-color: #f37654;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
}

#campaign-description {
  margin: 0 auto;
}

#campaign-description-content {
  margin: 0 auto;
  padding: 24px 0;
  max-width: 1000px;
}
#campaign-description-content p {
  padding-top: 24px;
  text-align: center;
}

#value-propositions {
  display: flex;
  justify-content: center;
}

#value-propositions-content {
  padding: 24px 0;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#value-propositions-content img {
  max-width: 60%;
  min-width: 100px;
  margin-bottom: 24px;
}
#value-propositions-content h4 {
  text-align: center;
  color: #4b79bc;
  font-family: "Arial Black", sans-serif;
}
#value-propositions-content div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#value-propositions-content div:nth-child(2) {
  margin: 0 24px;
}

#video-content {
  margin: 0 auto;
  max-width: 1000px;
}
#video-content h4 {
  margin-bottom: 36px;
  color: #bfbcba;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#action-steps-content {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 36px;
}
#action-steps-content #steps {
  display: flex;
}
#action-steps-content h2 {
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
}
#action-steps-content h3 {
  margin-bottom: 36px;
  color: #6daadc;
}
#action-steps-content h4 {
  letter-spacing: 1px;
  font-family: "Arial Black", sans-serif;
  text-align: left;
}
#action-steps-content p {
  color: #626165;
  border-left: 6px solid #6daadc;
  padding: 0 14px;
  margin-top: 8px;
  margin-left: 8px;
}
#action-steps-content div {
  padding: 8px 0;
}
#action-steps-content div:nth-child(2) {
  margin: 0 8px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  section {
    padding: 24px 24px;
  }

  #hero-content button {
    width: 40%;
  }

  #value-propositions-content {
    flex-direction: column;
  }
  #value-propositions-content img {
    padding-bottom: 8px;
  }
  #value-propositions-content div {
    padding: 24px 0;
  }

  #steps {
    display: flex;
    flex-direction: column;
  }
  #steps div:nth-child(2) {
    margin: 0;
  }

  #action-steps-content h3 {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
