// Primary Colors
$primary-dark-blue: #4b79bc;
$primary-light-blue: #6daadc;
$primary-red: #ee3124;
$primary-orange: #f37654;
$primary-black: #000000;
$primary-dark-grey: #626165;
$primary-light-grey: #bfbcba;
$primary-white :#ffffff;

// Media queries
$desktop: 1000px;
$tablet: 600px;

// Font Family
$sans-serif: Arial, Helvetica, sans-serif;
$sans-serif-bold: 'Arial Black', sans-serif;

// Padding
$padding-xsmall: 8px;
$padding-small: 24px;
$padding-medium: 36px;
$padding-large: 48px;
$padding-xlarge: 64px;
